<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="Estilo/estilos.css" , rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script src="Scripts/Script_jQuery.js"></script>
  <script src="Scripts/Aplicacion_control_angular.js"></script>
  <script src="Scripts/Crear_objeto.js"></script>
  <script src="Scripts/Crear_objeto_dinamico.js"></script>
  <script src="Scripts/Script_revisar_tabla.js"></script>
  <script src="Scripts/Script_obtener_XML.js"></script>
  <script src="Scripts/Script_variables_globales.js"></script>
  <script src="Scripts/Script_borrar_alumno.js"></script>
  <script src="Scripts/Script_ocultar_secciones.js"></script>
  <script src="Scripts/Script_buscar.js"></script>
  <script src="Scripts/Script_limpiador.js"></script>
  <script src="Scripts/Script_editar_alumno.js"></script>
  <script src="Scripts/Script_preparar_edicion.js"></script>
  <script src="Scripts/Script_campus_fieldset.js"></script>
  <script src="Scripts/Script_actualizar_alumno.js"></script>
  <script src="Scripts/Script_confirmar_ocultar.js"></script>

  <!--SCRIPTs para XML-->
  <script src="Scripts/Script_boton_XML.js"></script>
  <script src="Scripts/Script_crear_XML_con_datos.js"></script>
  <script src="Scripts/Script_operaciones_volver.js"></script>

  <!--SCRIPTs para JSON-->
  <script src="Scripts/Script_obtener_JSON.js"></script>
  <script src="Scripts/Script_crear_JSON_con_datos.js"></script>

</head>

<body id="cuerpo_angular" ng-app="Inicial" ng-controller="controlador">


    <div id="cenefa_superior">
      <img id="logo_lasalle" src="Imagenes/logo.png" alt="Logo">

      <div id="div_boton_JSON_XML" class="d-flex">
        <p id="Txt_usar_XML" class="me-2">Usar XML: </p>

        <div id="contenedor_boton_selector" class="me-2">
          <div id="elementos_boton" class="me-2" onclick="Des_activar_XML()">

            <div id="boton_movible">
              <p id="Txt_on_off">ON</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container mt-3">
        <h1 class="display-1 text-primary text-center">Universidad La Salle</h1>
        <h1 class="display-2 text-center">Admision de alumnos</h1>
        <br>
        <br>
      </div>

      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Imagenes/imagen1.png" alt="U" class="d-block" style="width:100%">
          </div>
          <div class="carousel-item">
            <img src="Imagenes/imagen2.png" alt="N" class="d-block" style="width:100%">
          </div>
          <div class="carousel-item">
            <img src="Imagenes/imagen3.png" alt="LS" class="d-block" style="width:100%">
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <br>

        <div id="Pestanas_selectoras">

          <ul id="pestanas">
            <li onclick="Ocultar_excepto(0)">Registrar alumno</li>
            <li onclick="Ocultar_excepto(1)">Revisar alumnos</li>
            <li onclick="Ocultar_excepto(2)">Borrar alumno</li>
            <li onclick="Ocultar_excepto(3)">Buscar alumno</li>
            <li onclick="Ocultar_excepto(4)">Editar alumno</li>
          </ul>
          </ul>
        </div>

      <div id="forma_registro">

        <fieldset>
          <legend>Datos generales para admisión</legend>
          <p class="h5">Ingrese sus datos de alumno para ser registrado.</p>

          <div class="alert alert-info">
            <strong>Info!</strong> Recuerda llenar tus datos con cuidado.
          </div>

          <div>
            <form novalidate>

              <div id="nombre">
                <label for="fname" id="txt_nombre">Nombre:</label><br>
                <button id="validar_nombre">Comprobar nombre</button>
              </div>

              <div id="apellidos" class="form-group">
                <input type="text" id="fname" name="fname" value=" " ng-model="name">
                <br>
                <br>
                <label for="ap_pat">Apellido Paterno:</label>
                <small id="emailHelp" class="form-text text-muted">Poner dos apellidos se tomará como uno solo
                  compuesto</small>
                <br>
                <input type="text" id="ap_pat" name="ap_pat" value=" " class="form-control" ng-model="ap_pat">
                <br>
                <br>
                <label for="ap_mat" class="form-control" >Apellido Materno:</label><br>
                <input type="text" id="ap_mat" name="ap_mat" value=" " class="form-control" ng-model="ap_mat">
                <br>
                <br>
              </div>

              <button id="ocultar_seccion">Finalizar llenado</button>
              <p id="confirmado">Ha finalizado el llenado de esta sección</p>
              <br>
            </form>
          </div>

          <br>
          <br>
          <br>

          <label for="clave" id="clave_txt">Clave ULSA:</label>
          <br>
          <input type="text" id="clave" name="clave" value=" " ng-model="clave">
          <br>
          <br>

          <label for="phone" class="required-label">Telefono:</label><br>
          <input type="tel" id="phone" name="phone" placeholder=" " pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" required
                 class="required-input" ng-model="telefono"><br>
          <small class="text-danger">Formato: 55-2453-1672</small><br><br>

          <label for="email" class="required-label">Correo electronico:</label><br>
          <input type="email" id="email" name="email" required class="required-input" ng-model="email">
          <br>
          <br>
          <div class="alert alert-danger" id="alerta">
            <strong>Atención!</strong> Por favor, completa todos los campos requeridos.
          </div>
          <br>
          <br>

          <label for="foto_perfil">Foto de perfil: </label>
          <button id="masKanye">Agrandar foto</button><br><br>
          <input type="image" id="foto_perfil" class="rounded-circle" style="height: 50px;" name="foto_perfil"
                 src="https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds"
                 ng-model="imagen">
          <div class="toast show">
            <div class="toast-header">
              <strong class="me-auto">Requisitos de la foto</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
              <p>Deberá ser en formato cuadrado/rectangular y lo más clara posible</p>
            </div>
          </div>

          <br>
          <br>

          <span class="badge rounded-pill bg-primary">Importante contestarlo</span>
        </fieldset>

        <p>Sexo:</p>
        <button id="pp">Prefiero no contestar</button><br><br>
        <fieldset id="sexo">
          <input type="radio" id="masculino" name="sexo" value="Masculino" ng-model="sexo">
          <label for="Masculino">Masculino</label>
          <br>
          <input type="radio" id="femenino" name="sexo" value="Femenino" ng-model="sexo">
          <label for="Femenino">Femenino</label>
          <br>
          <input type="radio" id="otro" name="sexo" value="Otro" ng-model="sexo">
          <label for="Otro">Otro</label>
          <br>
        </fieldset>
        <br>

        <label for="fecha" class="required-label">Fecha de nacimiento:</label>
        <br>
        <input type="date" class="required-label" id="fecha" name="fecha" required ng-model="fecha_nacimiento">
        <br>
        <br>

        Selecciona tu facultad:
        <select id="facultad" name="facultad" ng-model="facultad">
          <option value="Ingeniería">Facultad de ingeniería</option>
          <option value="Negocios">Facultad de negocios</option>
          <option value="Derecho">Facultad de derecho</option>
          <option value="Humanidades">Facultad de humanidades</option>
          <option value="Medicina">Facultad de medicina</option>
          <option value="Química">Facultad de química</option>
        </select>
        <br>
        <br>

        <p>¿Dónde tomas clases?:</p>
        <div id="checkboxes">
          <input type="checkbox" id="campus1" name="campus1" value="campus1" ng-model="campus1">
          <label for="campus1">Campus 1</label><br>
          <input type="checkbox" id="campus2" name="campus2" value="campus2" ng-model="campus2">
          <label for="campus2">Campus 2</label><br>
          <input type="checkbox" id="campus3" name="campus3" value="campus3" ng-model="campus3">
          <label for="campus3">Campus 3</label>
          <br>
          <br>
        </div>

        Selecciona tu semestre:
        <select id="semestre" name="semeste" ng-model="semestre">
          <option value="Primer semestre">Primer semestre</option>
          <option value="Segundo semestre">Segundo semestre</option>
          <option value="Tercer semestre">Tercer semestre</option>
          <option value="Cuarto semestre">Cuarto semestre</option>
          <option value="Quinto semestre">Quinto semestre</option>
          <option value="Sexto semestre">Sexto semestre</option>
          <option value="Septimo semestre">Septimo semestre</option>
          <option value="Octavo semestre">Octavo semestre</option>
          <option value="Noveno semestre">Noveno semestre</option>
        </select>

        <br>
        <br>

        Introduce tu dirección: <button id="nocasa">No tengo casa</button></button>
        <input class="form-control" name="Direccion" id="direccion" ng-model="direccion">

        <p>¿Cuáles son tus expectativas de la carrera?</p><button id="noexpectativas">No tengo expectativas</button>
        <input class="form-control" name="expectativas" id="expectativas" ng-model="expectativas">

        <br>
        <br>

        <div id="flip">Da clic para datos de contacto</div>
        <div id="panel" class="mb-2 p-5 bg-primary text-white rounded">Telefono: 55 5278 9500<br>Benjamín Franklin No 45,
          Col. Condesa, Alc Cuauhtémoc, CDMX. CP 06140
        </div>

        <div id="flip1">Mas informacion</div>
        <div id="panel1"> <img src="Imagenes/LaSal.png"></div>

        <button id="bb">Valores Lasallistas</button><br><br>
        <div id="div1" style="width:100px;height:40px;display:none;background-color:lightblue;">Fe</div><br>
        <div id="div2" style="width:100px;height:40px;display:none;background-color:mediumblue;color:white;">Fraternidad
        </div><br>
        <div id="div3" style="width:100px;height:40px;display:none;background-color:blue; color:white;">Servicio</div>

        <div id="objetos_dinamicos" class="container mt-3">
          <p>Objeto dinámico: </p>
          <p id="Objeto_dinamico" class="me-3"></p>

          <p id="json"></p>
        </div>

        <br>

        <p><input type="button" onclick="valida();" value="Enviar registro" class="btn btn-info"></p>

      </div>
    </div>

    <div id="mostrar_tabla" align="center" class="container mt-3">
        <table id="tabla_de_alumnos" class="table">
        </table>
    </div>

    <div id="borrar_alumno" class="container mt-3 inicialmente_ocultos">
        <p>Introduce la <em>clave</em> del alumno a borrar</p>
        <small id="envio_ayuda" class="form-text text-muted">No es sensible a mayúsculas y minúsculas</small>
        <input type="text" id="id_a_borrar" name="id_a_borrar" value="" class="form-control">

        <br>

        <div id="banner_b_exito" class="alert alert-success confirmaciones">
          Alumno borrado con <b>éxito</b>
        </div>

        <div id="banner_b_fallo" class="alert alert-danger confirmaciones">
          <b>Error al borrar</b>, no existe un alumno con esa clave
        </div>

        <br>

        <button class="btn btn-primary" type="submit" onclick="Borrador()">Enviar ID</button>

        <br>
    </div>

    <div id="buscar_alumno" class="container mt-3 inicialmente_ocultos">
      <p id="p_buscar_al">Buscar a un alumno por: </p>

      <select id="param_busqueda" name="param_busqueda" class="form-select">
          <option value="Nombre" >Nombre</option>
          <option value="Ap_pat" >Apellido paterno</option>
          <option value="Ap_mat" >Apellido materno</option>
          <option value="Clave" selected>Clave</option>
          <option value="Telefono" >Teléfono</option>
          <option value="Correo" >Correo</option>
          <option value="Sexo" >Sexo</option>
          <option value="Fecha" >Fecha nacimiento</option>
          <option value="Facultad" >Facultad</option>
          <option value="Campus" >Campus</option>
      </select>

      <input type="text" id="id_a_buscar" name="id_a_buscar" value = "" class="form-control">

      <br>

      <div id="banner_busq_fallo" class="alert alert-danger confirmaciones">
        <b>No existe ningun alumno con el parametro </b> <b id="txt_parametro"></b>
      </div>

      <button class="btn btn-primary" type="submit" onclick="Buscar_alumno(0)">Buscar alumno</button>

      <div id="resultado_busqueda" class="container mt-3">
        <p class="confirmaciones">Resultados: </p>
        <table id="tabla_busqueda" class="table confirmaciones"></table>
      </div>
    </div>

    <div id="editar_alumno" class="inicialmente_ocultos container mt-3">
      <p>Introduce la <em>clave</em> del alumno a editar</p>
      <small id="edicion_ayuda" class="form-text text-muted">No es sensible a mayúsculas y minúsculas</small>
      <input type="text" id="id_a_editar" class="form-control" name="id_a_editar">

      <br>

      <button class="btn btn-primary" type="submit" onclick="Editar_info_alumno()">Buscar ID</button>

      <div>
        <br>
        <div id="Alerta_alumno_encontrado_edit" class="alert alert-info inicialmente_ocultos">
          Se encontró el alumno, mostrando la información editable
        </div>

        <div id="Alerta_alumno_editado_edit" class="alert alert-info inicialmente_ocultos">
          Se ha editado la información exitosamente
        </div>

        <div id="Alerta_alumno_no_encontrado_edit" class="alert alert-danger inicialmente_ocultos">
          NO se encontró un alumno con la clave <b id="Clave_erronea_edit">0000</b>
        </div>
        <br>
      </div>

      <div id="div_campos_editables" class="container mt-3 inicialmente_ocultos">
        <div id="nombre_ed" class="div_con_input">
          <p class="etiquetas_edit">Nombre: </p>
          <input type="text" id="Nombre_editable" name="Nombre_editable" class="form-control w-50 h-50 EDIT">
        </div>

        <div id="ap_pat_ed" class="div_con_input">
          <p class="etiquetas_edit">Apellido paterno: </p>
          <input type="text" id="Ap_pat_editable" name="Ap_pat_editable" class="form-control w-50 h-50 EDIT">
        </div>

        <div id="ap_mat_ed" class="div_con_input">
          <p class="etiquetas_edit">Apellido materno: </p>
          <input type="text" id="Ap_mat_editable" name="Ap_mat_editable" class="form-control w-50 h-50 EDIT">
        </div>

        <div id="telefono_ed" class="div_con_input">
          <p class="etiquetas_edit">Teléfono: </p>
          <input type="text" id="Telefono_editable" name="Telefono_editable" class="form-control w-50 h-50 EDIT" pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}">
        </div>

        <div id="correo_ed" class="div_con_input">
          <p class="etiquetas_edit">Correo: </p>
          <input type="text" id="Correo_editable" name="Correo_editable" class="form-control w-50 h-50 EDIT">
        </div>

        <div class="div_con_elementos d-flex align-items-center">
          <p class="etiquetas_edit">Sexo: </p>
          <fieldset id="sexo_ed" class="EDIT">
            <input type="radio" id="masculino_ed" name="sexo" value="Masculino">
            <label for="masculino">Masculino</label>
            <br>
            <input type="radio" id="femenino_ed" name="sexo" value="Femenino">
            <label for="femenino">Femenino</label>
            <br>
            <input type="radio" id="otro_ed" name="sexo" value="Otro">
            <label for="otro">Otro</label>
            <br>
          </fieldset>
        </div>

        <div class="div_con_elementos">
          <p class="etiquetas_edit">Fecha nacimiento:</p>
          <input type="date"  id="fecha_ed" name="fecha_ed" class="EDIT">
        </div>

        <div class="div_con_elementos">
          <p class="etiquetas_edit">Facultad: </p>
          <select id="Facultad_editable" name="facultad_ed" class="EDIT">
            <option value="Ingeniería">Facultad de ingeniería</option>
            <option value="Negocios">Facultad de negocios</option>
            <option value="Derecho">Facultad de derecho</option>
            <option value="Humanidades">Facultad de humanidades</option>
            <option value="Medicina">Facultad de medicina</option>
            <option value="Química">Facultad de química</option>
          </select>
        </div>

        <div class="div_con_elementos">
          <p class="etiquetas_edit">Campus: </p>
          <fieldset id="Campus_editable" class="EDIT">
            <div id="div_campus_editable" class="form-check form-check-inline">
              <div class="form-check form-check-inline">
                <input type="checkbox" id="campus1_ed" name="campus1_ed" value="1" class="form-check-input" onclick="Seleccionar_solo_este(0)">
                <label for="campus1_ed" class="form-check-label">Campus 1</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="checkbox" id="campus2_ed" name="campus1_ed" value="2" class="form-check-input" onclick="Seleccionar_solo_este(1)">
                <label for="campus2_ed" class="form-check-label">Campus 2</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="checkbox" id="campus3_ed" name="campus1_ed" value="3" class="form-check-input" onclick="Seleccionar_solo_este(2)">
                <label for="campus3_ed" class="form-check-label">Campus 3</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div>
          <button class="btn btn-primary" type="submit" onclick="Actualizar_alumno()">Actualizar datos</button>
        </div>
      </div>
    </div>

</body>
</html>