.required {
    border: 2px solid red;
}

.required-label::after {
    content: '*';
    color: red;
}

#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 5px;
    text-align: left;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}


#panel1,
#flip1 {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #ADD8E6;
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
}

#panel1 {
    padding: 50px;
    display: none;
}

#confirmado {
    display: none;
}

.navbar-royal-blue {
    background-color: #4169e1;
    /* Azul Rey */
}

ul#pestanas
{
    list-style: none;
}

ul#pestanas li
{
    display: inline-block;

    padding-top: 15px;
    padding: 10px 10px;

    cursor: pointer;

    background: rgba(67, 136, 255, 0.3);
}

ul#pestanas li:hover
{
    background: rgba(67, 136, 255, 0.8);
}

#mostrar_tabla
{
    align-items: center;
    align-content: center;
}

.confirmaciones
{
    display: none;
}

#p_buscar_al
{
    display: inline;
}

#param_busqueda
{
    width: 10vw;

    display: inline;

    margin-bottom: 1%;
}